@charset "utf-8" ;
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color: #a8e0f6;
}

h1{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border: solid #a8e0f6;
    color: #f0ffff;

}

nav{
background-color: #f0ffff;
}

ul,li{
background-color: #c92727;
}

section{
background-color: #a8e0f6;
}
article{
background-color: #077171;
}
footer,p {
background-color: #7fffd4;
}